/* Style pour le formulaire d'ajout de film */
form {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* Pour enlever les flèches des champs numérotés sur certains navigateurs */
  }
  
  input:focus, select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* width: 100%; */
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Pour le message d'erreur en cas de validation */
  .alert {
    color: #d9534f;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Pour rendre le formulaire plus mobile-friendly */
  @media (max-width: 600px) {
    form {
      padding: 15px;
      max-width: 100%;
    }
  
    button {
      font-size: 14px;
      padding: 8px 15px;
    }
  }
  