.container{
    display: inline-block;
    flex-wrap:wrap;
    margin-right:30px ;
}
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); 
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); 
  }
.titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.director{
    font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.genre{
    font-size: 0.9rem;
    color: #888;
}
.rating{
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffcc00;
}
.but {
    width: 100%;
    background-color: #f8f8f8;
    color: #007bff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .but:hover {
    background-color: #0deeaa;
}

.favoriteButton {
    display: flex;
    margin-bottom: 20px;
    background-color: #f7a700; 
    color: white;  
    padding: 10px 20px;  
    border-radius: 25px;  
    font-size: 16px;  
    font-weight: bold; 
    border: none;  
    cursor: pointer;  
    transition: background-color 0.3s, transform 0.3s;  
  }
  
  .favoriteButton:hover {
    background-color: #d88b00;  
    transform: scale(1.05);  
  }
  
  .favoriteButton:focus {
    outline: none; 
  }
  
